<div class="row">
  <div class="col-md-12 page-header">
    <h2>
      <span class="glyphicon glyphicon-dashboard"></span> Dashboard
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">System</h3>
      </div>
      <div class="panel-body" style="font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace">
        <div class="row">
          <div class="col-sm-3">Uptime & System load:</div>
          <div class="col-sm-9"><%= `uptime` %></div>
        </div>
        <div class="row">
          <div class="col-sm-3">Ruby version:</div>
          <div class="col-sm-9"><%= `ruby -v` %></div>
        </div>
        <div class="row">
          <div class="col-sm-3">Rails version:</div>
          <div class="col-sm-9"><%= `rails -v` %></div>
        </div>
      </div>
    </div>
  </div>
</div>
