<div class="row">
  <div class="col-md-12 page-header">
    <h2>
      <span class="glyphicon glyphicon-signal"></span> Overview
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="overview-charts-container">
    <div class="panel panel-primary">
      <div class="panel-heading">Basic Information</div>
      <div class="panel-body">
        <div class="col-md-6" id="ov-basic-gender"></div>
        <div class="col-md-6" id="ov-basic-record-freq"></div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Walking Duration</div>
      <div class="panel-body">
        <div class="col-md-12" id="ov-duration-avg"></div>
        <div class="col-md-6" id="ov-duration-avg-female"></div>
        <div class="col-md-6" id="ov-duration-avg-male"></div>
        <div class="col-md-12" id="ov-duration-student-total"></div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Scene Related</div>
      <div class="panel-body">
        <div class="col-md-12" id="ov-scene-playtimes"></div>
      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">Object Catch</div>
      <div class="panel-body">
        <div class="col-md-6" id="ov-object-able-to-catch"></div>
        <div class="col-md-6" id="ov-object-avg-catch"></div>
      </div>
    </div>
  </div>
</div>

<%= load_js 'overview.js' %>