<div class="row">
  <div class="col-md-12 page-header">
    <h2>
      <span class="glyphicon glyphicon-road"></span> Game Records
      <div class="pull-right">
        <%# link_to content_tag(:span,'',class:'glyphicon glyphicon-plus')+' Add', new_student_path, class:'btn btn-primary' %>
      </div>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table id="table-of-records" class="table table-hover display responsive no-wrap"></table>
  </div>
</div>
<% load_js 'SceneMapping.js' %>
<% load_js 'game_results_index.js' %>