<div class="row">
  <div class="col-md-12 page-header">
    <h2>
      <span class="glyphicon glyphicon-edit"></span> Edit My Account <%#= resource_name.to_s.humanize %>
    </h2>
  </div>
</div>
<div class="row">

  <div class="col-sm-12">
    <%= devise_error_messages! %>
  </div>

  <div class="col-sm-10 col-sm-offset-1">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => 'form-horizontal'}) do |f| %>


      <div class="form-group">
        <%= f.label :username, :class => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= f.text_field :username, autofocus: true, :class => 'form-control', :placeholder => 'Username' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email, :class => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'me@domain.com' %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :password, :class => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => 'Password (leave blank if you don\'t want to change it)' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, :class => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :placeholder => 'Password again (leave blank if you don\'t want to change it)' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :current_password, :class => 'col-sm-3 control-label' %>
        <div class="col-sm-9">
          <%= f.password_field :current_password, autocomplete: "off", :class => 'form-control', :placeholder => 'we need your current password to confirm your changes' %>
        </div>
      </div>

      <!--<div class="actions">-->
        <!--<%#= f.submit "Update" %>-->
      <!--</div>-->
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <%= f.submit "Update", class: 'btn btn-primary' %>
          <%#= link_to "Back", :back , class: 'btn btn-default'%><%# `:back` path cause 500 error (route) because when update fail 2 times or more, the back path become GET /users. Since update user is POST /users %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!--<h3>Cancel my account</h3>-->

<!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->

