<div class="row">
  <div class="col-md-12 page-header">
    <h2>
      <span class="glyphicon glyphicon-user"></span> Sign up
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :username, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :username, autofocus: true, :class => 'form-control', :placeholder => 'Username' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.email_field :email, :class => 'form-control', :placeholder => 'admin@domain.com' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :password, :class => 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => (@minimum_password_length) ? "(#{@minimum_password_length} characters minimum)" : "************" %>
          </div>
        </div>

        <div class="form-group">
          <small style="position: relative; top:-6px"><%= f.label :password_confirmation, :class => 'col-sm-2 control-label' %></small>
          <div class="col-sm-10">
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :placeholder => 'Password again' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <%= f.submit "Sign up", class: 'btn btn-primary' %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
    <% end %>
  </div>
</div>

