<div class="form-group">
  <%= f.label :name, 'Student Name:', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :name, :class => 'form-control', :placeholder => 'Steve Jobs' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :gender, 'Gender:', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.select :gender, options_for_select(Student.genders), {}, :class => 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :remarks, 'Remarks:', :class => 'col-sm-2 control-label' %>
  <div class="col-sm-10">
    <%= f.text_area :remarks, rows:5, :class => 'form-control', :placeholder => 'remarks...' %>
  </div>
</div>