<div class="row">
  <div class="col-md-12 page-header">
    <h2>
      <span class="glyphicon glyphicon-user"></span> Students
      <div class="pull-right">
        <%= link_to content_tag(:span,'',class:'glyphicon glyphicon-plus')+' Add', new_student_path, class:'btn btn-primary' %>
      </div>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table id="table-of-students" class="table table-hover display responsive no-wrap"></table>
  </div>
</div>
<% load_js 'students_index.js' %>