<div class="row">
  <div class="col-md-12 page-header">
    <h2>
      Add Student
      <small>
        <%= "#{flash[:alert]} #{flash[:notice]}" %>
      </small>
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @student.errors.any? %>
        <% @student.errors.full_messages.each do |msg| %>
            <%= content_tag(:div,
                            content_tag(:button,
                                        content_tag(:span, '&times;'.html_safe ,aria:{hidden:'true'}) ,type:"button", class:"close", data:{dismiss:"alert"}) +
                                    msg, class:'alert alert-danger alert-dismissible', role:'alert')
            %>
        <% end %>
    <% end %>
    <%= form_for @student, :url => students_path , :html=>{:class => 'form-horizontal'} do |f| %>

        <%= render :partial => 'studentForm', :locals => {:f => f} %>



        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <%= f.submit 'Create', :class => 'btn btn-primary' %>
            <%= link_to 'Cancel', _back_url, class:'btn btn-default' %>
          </div>
        </div>
    <% end %>
  </div>
</div>