<div class="row">
  <div class="col-md-12 page-header">
    <h2>
      <% if !@student.nil? %>
          <%= @student.name %>

          <div class="pull-right">
            <div class="btn-group">
              <%= link_to content_tag(:span,'',class:'glyphicon glyphicon-wrench') + ' Edit', edit_student_path(@student), class:'btn btn-warning' %>
              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><%= link_to 'Delete', student_path(@student), :method => :delete, :data => { :confirm => "Delete #{@student.name}?" }  %></li>
              </ul>
            </div>
          </div>
      <% end %>

    </h2>
  </div>
</div>

<div class="col-sm-10 col-sm-offset-1">
  <div class="row">
    <% if @student.nil? %>
        <h2 class="text-center text-muted">No such student.</h2>
    <% else %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title text-center"><%= @student.name %></h3>
          </div>
          <div class="panel-body">
            <table class="table table-hover table-striped">
              <tbody>
              <% @student.attributes.except('id', 'created_at','updated_at').each do |k, v| %>
                  <tr>
                    <th scope="row"><%= k.humanize %></th>
                    <td><%= k=='gender'? (v==0? 'M' : 'F') : v %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title text-center">Game Records</h3>
          </div>
          <div class="panel-body">
            <div id="student-show-game-duration"></div>
          </div>
        </div>

    <% end %>

  </div>
</div>
<script type="text/javascript">
  //for google chart part
  var student_info = <%= @student.nil? ? -1 : @student.to_json.html_safe %>;
</script>

<%= load_js 'student_show.js' %>