// Place all the styles related to the admin/apikey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#apikey-show-container{
  div{
    div{
      div{
        .api-secret{
          font-size: 8pt;
        }
        span:first-child{
          font-weight: bold;
        }
        span:last-child{
          overflow: scroll;
          font-family: "Source Code Pro", Monaco, monospace;
        }
      }
    }
  }
}