<div class="row">
  <div class="col-md-12 page-header">
    <h2>
      <span class="glyphicon glyphicon-log-in"></span> Sign in
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html=>{:class => 'form-horizontal'}) do |f| %>
      <div class="form-group">
        <%= f.label :login, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :login, autofocus: true, :class => 'form-control', :placeholder => 'Username or Email' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, :class => 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder => '************' %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <%= f.submit 'Sign in', class:'btn btn-primary' %>
          <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
          <% end %>
        </div>

      </div>

      <!--<div class="form-group">-->
        <%#= content_tag :div ,'', :class => 'col-sm-2 control-label' %>
        <!--<div class="col-sm-10">-->
          <%#= render "devise/shared/links" %>
        <!--</div>-->
      <!--</div>-->

    <% end %>
  </div>
</div>


