<div class="row">
  <div class="col-md-12 page-header">
    <h2>
      Edit "<%= @apikey.key if !@apikey.nil? %>"
      <small></small>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% if @apikey == nil %>
        <h2 class="text-center text-muted">No such API key.</h2>
    <% else %>
        <% @apikey.errors.full_messages.each do |msg| %>
            <%= content_tag(:div,
                            content_tag(:button,
                                        content_tag(:span, '&times;'.html_safe ,aria:{hidden:'true'}) ,type:"button", class:"close", data:{dismiss:"alert"}) +
                                    msg, class:'alert alert-danger alert-dismissible', role:'alert')
            %>
        <% end %>
        <%= form_for @apikey, :url => admin_apikey_path(@apikey), :method=>:patch, :html=>{:class => 'form-horizontal'} do |f| %>

            <div class="form-group">
              <%= f.label :key, 'Key:', :class => 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= f.text_field :key, :class => 'form-control',:readonly => true %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :remarks, 'Remarks:', :class => 'col-sm-2 control-label' %>
              <div class="col-sm-10">
                <%= f.text_area :remarks, rows:5,:placeholder => 'DO NOT put you secret key here!', :class => 'form-control' %>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <%= f.submit 'Update', :class => 'btn btn-primary' %>
                <%= link_to 'Cancel', _back_url, class:'btn btn-default' %>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>