<div class="row">
  <div class="col-md-12 page-header">
    <h2>
      <span class="glyphicon glyphicon-link"></span> API Keys
      <div class="pull-right">
        <%= link_to content_tag(:span,'',class:'glyphicon glyphicon-plus')+' Create new', admin_apikey_index_path, class:'btn btn-primary', method:'POST' %>
      </div>
    </h2>
  </div>
</div>
<div class="row" id="apikey-show-container">
  <% if @apikeys.length == 0 %>
      <div class="col-md-12 text-center text-primary">No API Key. Click "Create new" to add one.</div>
  <% end %>

  <% if !flash[:new_token].nil? %>
    <div class="col-md-12">
      <%= content_tag(:div,simple_format("The secret key only show <strong>once</strong>, please save it to a secure place:<br /><strong>Access Token:</strong> <code id='new-token'>#{flash[:new_token]}</code><br /><strong>Secret Key</strong>: <code id='new-secret'>#{flash[:new_secret]}</code>"), class:'alert alert-info', role:'alert')  %>
    </div>
  <% end %>
</div>
<%= Gon::Base.render_data %>
<%= load_js 'admin/apikey_index.js' %>