// Place all the styles related to the overview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#ov-basic-gender,
#ov-basic-record-freq,
#ov-duration-avg,
#ov-duration-avg-male,
#ov-duration-avg-female,
#ov-scene-playtimes,
#ov-object-able-to-catch,
#ov-object-avg-catch,
{
  height: 300px;
}

#ov-duration-avg,
{
  height: 400px;
}

#ov-duration-student-total
{
  height: 500px
}

#overview-charts-container{
  .panel-body{
    div{
      margin-top:8px;
      margin-bottom:16px
    }
  }
}