<%= content_tag(:div,
                content_tag(:button,
                            content_tag(:span, '&times;'.html_safe, aria: {hidden: 'true'}), type: "button", class: "close", data: {dismiss: "alert"}) +
                        flash[:success], class: 'alert alert-success alert-dismissible', role: 'alert') if flash[:success] != nil
%>
<%= content_tag(:div,
                content_tag(:button,
                            content_tag(:span, '&times;'.html_safe, aria: {hidden: 'true'}), type: "button", class: "close", data: {dismiss: "alert"}) +
                        flash[:info], class: 'alert alert-info alert-dismissible', role: 'alert') if flash[:info] != nil
%>
<%= content_tag(:div,
                content_tag(:button,
                            content_tag(:span, '&times;'.html_safe, aria: {hidden: 'true'}), type: "button", class: "close", data: {dismiss: "alert"}) +
                        flash[:warn], class: 'alert alert-warning alert-dismissible', role: 'alert') if flash[:warn] != nil
%>
<%= content_tag(:div,
                content_tag(:button,
                            content_tag(:span, '&times;'.html_safe, aria: {hidden: 'true'}), type: "button", class: "close", data: {dismiss: "alert"}) +
                        flash[:error], class: 'alert alert-danger alert-dismissible', role: 'alert') if flash[:error] != nil
%>

<%# devise %>
<%= content_tag(:div,
                content_tag(:button,
                            content_tag(:span, '&times;'.html_safe, aria: {hidden: 'true'}), type: "button", class: "close", data: {dismiss: "alert"}) +
                        notice, class: 'alert alert-success alert-dismissible', role: 'alert') if notice != nil
%>
<%= content_tag(:div,
                content_tag(:button,
                            content_tag(:span, '&times;'.html_safe, aria: {hidden: 'true'}), type: "button", class: "close", data: {dismiss: "alert"}) +
                        alert, class: 'alert alert-danger alert-dismissible', role: 'alert') if alert != nil
%>