<!DOCTYPE html>
<html>
<head>
  <title>SunnyWalk</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script async type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= Gon::Base.render_data %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-cloud" style="position: relative;top: 4px;"> </span> Sunny Walk</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= "Signed in as #{current_user.username}" %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to 'Edit My Account', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="nav-dashboard"><%= link_to 'Dashboard', dashboard_index_path %></li>
          <li id="nav-apikey"><%= link_to 'API Key', admin_apikey_index_path %></li>
          <li id="nav-overview"><%= link_to 'Overview', overview_index_path %></li>
          <!--<li id="nav-reports"><a href="#">Reports (coming feature)</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li id="nav-students"><%= link_to 'Students', students_path %></li>
          <li id="nav-game-records"><%= link_to 'Game Records', game_results_path %></li>
        </ul>

      </div>
    </div>
  </nav>
<% end %>

<div class="container-fluid">
  <div class="row">
    <% if signed_in? %>
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="<%= bs_nav_active_class(dashboard_index_path)    %>"><%= link_to 'Dashboard', dashboard_index_path %></li>
            <%= content_tag(:li, link_to('API Key', admin_apikey_index_path), :class => bs_nav_active_class(admin_apikey_index_path)) %>
            <%= content_tag(:li, link_to('Overview', overview_path), :class => bs_nav_active_class(overview_path)) %>
            <!--<li><a href="#">Reports (coming feature)</a></li>-->
          </ul>
          <ul class="nav nav-sidebar">
            <li class="<%= bs_nav_active_class(students_path) %>" ><%= link_to 'Students', students_path %></li>
            <li class="<%= bs_nav_active_class(game_results_path) %>" ><%= link_to 'Game Records', game_results_path %></li>
          </ul>

        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= render :partial => 'layouts/alerts' %>
          <%= yield %>
        </div>
    <% else %>
        <div class="col-md-10 col-md-offset-1 main">
          <%= render :partial => 'layouts/alerts' %>
          <%= yield %>
        </div>
    <% end %>
  </div>
</div>

<%= yield(:head) %>
</body>
</html>
